.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* for this project */

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin-left: 38px; */
  /* margin-right: 38px; */
  margin-top: 10px;
  width: 100%
}

.btnSort {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: rgb(179, 154, 14);
  border-style: none;
  margin-left: 35px;
}

.btnAdd {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: rgb(179, 154, 14);
  border-style: none;
  margin-right: 35px;
}

.searchBar {
  width: 88%;
  height: 32px;
  display: flex;
  border: solid 1px black;
  border-radius: 3px;
  background-color: white;
}

.search {
  margin-left: 5px;
  height: 28px;
  width: 100%;
  background-color: transparent;
  border-style: none;
}

.search:focus {
  outline: none;
}

.logoIcon {
  background-color: transparent;
  border-style: none;
}

.list {
  background-color: rgb(165, 165, 165);
  width: 230px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: small;
  border: solid 1px black;
}

.avatar {
  margin-left: 3px;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  object-fit: cover;
}

.infoUser {
  margin-left: 15px;
  /* margin-bottom: 20px; */
}

button:hover {
  cursor: pointer;
}

.btn-box {
  /* margin-top: 28px; */
  margin-bottom: 10px;
}

.btnEdit {
  background-color: transparent;
  border-style: none;

}

.btnDelete {
  background-color: transparent;
  border-style: none;

}

.boxlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 60px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 10px;
  gap: 20px;
}

/* for add form */

.containerAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.inputName {
  width: 60%;
  margin-bottom: 10px;
  height: 25px;
  border-radius: 3px;
}

.inputPhone {
  width: 60%;
  height: 25px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.btnboxAdd {
  width: 61%;
  display: flex;
  justify-content: space-between;
}

.btnsaveAdd {
  height: 28px;
  width: 48%;
  border-radius: 3px;
  background-color: rgb(179, 154, 14);
  color: white;
  border-style: none;
}

.btncancleAdd {
  height: 28px;
  width: 48%;
  border-radius: 3px;
  background-color: rgb(179, 154, 14);
  color: white;
  border-style: none;
}

/* edit */

.list-edit {
  background-color: rgb(165, 165, 165);
  width: 230px;
  height: 130px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: small;
  border: solid 1px black;
}

.infoUser-edit {
  margin-left: 10px;
}

.inputEditName {
  margin-top: 13px;
  margin-bottom: 10px;
  width: 80%;
  height: 25px;
  border-radius: 3px;
  border-style: none;
}

.inputEditPhone {
  margin-bottom: 10px;
  width: 80%;
  height: 25px;
  border-radius: 3px;
  border-style: none;
}

.btnSaveEdit {
  background-color: transparent;
  border-style: none;

}

.btnCancleEdit {
  background-color: transparent;
  border-style: none;

}

/* avatar */


